@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
 /* text-align: center; */
 font-family: 'Quicksand', sans-serif;
 margin: auto;
/* background-repeat: no-repeat; */
}

#black{
    height: 150px;
    padding-top: 250px;
}

#fan{
     padding-left: 50px; 
     padding-top: 90px; 
}

 .prograd{
 font-size: 100px;
} 

 #fancy{
    padding-left: 2px;
    padding-top: 90px;
}

 #unicorn{
    height: 150px;
    text-align: center;
    width: 200px;
} 

#designer{
    height: 140px;
    /* padding-top: 60px; */
}

 #multi{
    width: 80%;
}

#bag{
    padding-left: 45px;
    margin: 0;
}

 #clutch{
    width: 300px;
    height: 200px;
    padding-left: 70px;
    padding-top: 185px;
} 

#fit{
    padding-left: 50px;
}

.buy{
    padding-left: 43px;
}

header{
    height: 500px;
    width: 100%;
    background-image: url("./assets/header.png");
    background-size: 100% 100%;
    /* color: white; */
}

.header-text{
    flex-direction: column;
    max-height: 100%;
    max-width: 20%;
    padding: 10% 9%;
}

a{
    color: black;
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
li{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin-left:5%;
    font-size: 15.3px;
    /* background-color: rgb(141, 211, 243); */
    /* padding: 2.5px; */
    border-radius: 10px;
}

#myprojecct{
    justify-content: center;
    padding-left: 50px;
    padding-right: 90px;
    padding-top: 199px;
}

.cap{
    padding-left: 50px;
}

#kit{
    padding-left: 50px;
}

#basket{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
     width: 250px;
     padding-top: 110px;
     padding-left: 50px;
}

#shreya {
    display: flex;
    justify-content: center;
    height:50px;
    align-items: center;
    background-color:skyblue;
    position: fixed;
    width: 100%;
}

#fancy{
    text-align: center;
}


  
li :hover{
    font-weight: 900;
    color: black;
    font-size: 15.3px;
}

.section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.books {
    max-width: 200px;
}

.games,
.crafts {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* flex-direction: column; */
}

.section-flex{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    padding-left: 2px;
}

/* .jute{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* align-items: center; 
}*/

.flex {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
}

.section-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

#open{
    padding-top: 50px;
}

.space-between {
    /* justify-content: space-between; */
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

#new-nav {
    height: 50px;
    width: 100%;
}

#new-nav div {
    padding: 0% 5%;
}

#new-nav img {
    height: 30px;
}

#cart2{
    width: 50px;
}

#cart {
    font-weight: bold;
    align-items: center;
}

.button {
    cursor: pointer;
    background-color: #6095FF;
    color: white;
    padding: 5px;
    border-radius: 4px;
}.buy img {
    width: 30px;
    padding-left: 5px;
}

.buy {
    margin-top: 15px;
    padding-bottom: 50px;
}

h1,
h2 {
    font-weight: bold;
}

h6 {
    font-size: 17px;
}

.buy p {
    font-weight: bold;
    font-size: 20px;
}

h3,
h2 {
    margin-bottom: 10px;
}

.container {
    flex-wrap: wrap;
}

@media only screen and (max-width:600px) {
    header {
        height: 250px;
        width:350px;
        font-size: 15px;
        text-align: start;
    }
    
  #shreya{
    font-size: 19px;
    text-align: center;

 }

p{
    font-size: 10px;
}

    header img {
        font: 4vh;
    }

    header h5 {
        font-size: 15px;
    }

    .header-text {
        /* padding: 0% 60% 5% 5%; */
        font-size: 07px;
    }

    #cart2{
        width: 30px;
    }

    nav{
        width:99.9vw;
      
    }

    h2{
        font-size: 20px;
    }

    h4{
        font-size: 12px;
        padding-top: 40px;
    }

    body {
        text-align: center;
    }

    .container {
        justify-content: center;
    }

    .raamu{
        font-size: 10px;
    }
}





















